html,body{
    margin: 0px;
    padding: 0px;
}

header {
    position: relative;
    background-color: #333;
    color: #fff;
    display: flex;
    column-gap: 780px;
    padding: 10px;
    margin: 0px;
    height: 30px;
    z-index: 3;
  }

  .configuration{
    display: flex;
    column-gap: 50px;
  }

  select{
    margin-top: 5px;
    border-style: none;
    border-radius: 7px;
    width: 60px;
    height: 20px;
  }

  option{
    color: rgb(0, 0, 0);
  }

  select option:nth-child(odd){
    background-color: #c1c6f5;
  }

  select option:nth-child(even){
    background-color: rgb(145, 168, 218);
  }

  #play-button{
      width: 50px;
      transition: width 0.15s ease-in-out;
  }

  #play-button.end-game{
    width: 90px;
  }

  button{
    color: white;
    border-style: none;
    border-radius: 7px;
    background-color: #58cc02;
    box-shadow: 0 5px 0 #58a700;
    height: 25px;
    cursor: pointer;
  }

  button:active:not(.disabled){
    box-shadow: none;
    transform: translateY(5px);
  }

  button:disabled{
    background-color: #cc1a02;
    box-shadow: 0 5px 0 #b81600;
    cursor: default;
  }

  .content{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .grid-container{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 30px;
    height: 540px;
    overflow: auto;
  }

  .row{
    display: flex;
    column-gap: 30px;
  }

  .card{
    margin: 0px;
    width: 180px;
    height: 150px;
  }
  
  .card-inner{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style:preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card-inner.is-flipped{
    transform: rotateY(180deg);
  }

  .disabled,
  .checking{
    cursor: default;
  }
  
  .card-front,
  .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-front{
    background-image: url(./img/carpet-pattern.jpg);
  }
  
  .card-back{
    transform: rotateY(180deg);
    background-color: rgb(241, 241, 171);
    border: solid rgb(41, 41, 117);
  }

  /*Sliding image animation*/
  #sliding-image{
    width: 830px;
    height: 560px;
    position: absolute;
    top: -600px;
    left :19.5%;
    z-index: 2;
    border-radius: 25px;
  }
  
  .animate {
    animation: drop 6s ease forwards;
  }
  
  @keyframes drop {
    0%{}
    20%{transform: translateY(700px);}
    30%{transform: translateY(660px);}
    60%{transform: translateY(660px);}
    70%{transform: translateY(700px);}
    100%{transform: translateY(0px);}
  }
