html,body{
    margin: 0px;
    padding: 0px;
}

header {
    position: relative;
    background-color: #333;
    color: #fff;
    display: flex;
    column-gap: 780px;
    padding: 10px;
    margin: 0px;
    z-index: 3;
  }

  header button:hover {
    color: #ccc;
  }

  .configuration{
    display: flex;
    column-gap: 50px;
  }

  .content{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .grid-container{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 30px;
    height: 540px;
    overflow: auto;
  }

  .row{
    display: flex;
    column-gap: 30px;
  }

  .card{
    margin: 0px;
    width: 180px;
    height: 150px;
  }
  
  .card-inner{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style:preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card-inner.is-flipped{
    transform: rotateY(180deg);
  }

  .disabled,
  .checking{
    cursor: default;
  }
  
  .card-front,
  .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-front{
    background-image: url(./img/carpet-pattern.jpg);
  }
  
  .card-back{
    transform: rotateY(180deg);
    background-color: rgb(241, 241, 171);
    border: solid rgb(41, 41, 117);
  }

  /*Sliding image animation*/
  #sliding-image{
    width: 830px;
    height: 580px;
    position: absolute;
    top: -600px;
    left :19.5%;
    z-index: 2;
    border-radius: 25px;
  }
  
  .animate {
    animation: drop 6s ease forwards;
  }
  
  @keyframes drop {
    0%{}
    20%{transform: translateY(700px);}
    30%{transform: translateY(650px);}
    60%{transform: translateY(650px);}
    70%{transform: translateY(700px);}
    100%{transform: translateY(0px);}
  }
